src/flows/demo2-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>497</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>496</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>swati</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign</targetReference>
            </connector>
            <label>1st</label>
        </rules>
    </decisions>
    <interviewLabel>demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>demo</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookup</name>
        <label>lookup</label>
        <locationX>319</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
        <filters>
            <field>test1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>name</elementReference>
            </value>
        </filters>
        <object>demo__c</object>
        <outputAssignments>
            <assignToReference>name</assignToReference>
            <field>test1__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>lookup</startElementReference>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
